/* nav section style  */

header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

header nav h1{
    font-weight: bold;
    font-size: 40px;
    margin-left:30px;
}
header nav button {
    height: 55px;
    width: 120px;
    color: #006A50;
    border:1px solid #006A50;
    border-radius: 8px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 700;
}