body{
    background-color: #F1F1F3;
}
/* nav section style  */
header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;  
}

header nav h1{
    font-weight: bold;
    font-size: 40px;
   
}
header nav button {
    height: 55px;
    width: 120px;
    color: #006A50;
    border:1px solid #006A50;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav button:hover{
    background-color: #006A50; 
    color: #FFFFFF; 
}
/* banner section styles  */
.banner{
    background-color: #C6E4D6 ;
    width: 1280px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 25px;
    text-align: left;
}

.banner-text{
    /* background-color: red; */
    padding-left: 30px;
    margin-top: 80px;
}
.banner-text p{
    /* font-weight: 200; */
    color: #0E0E0E;
}
.banner-text h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 10px;
}
.banner-text button{
    background-color:#006A50;
    height: 56px;
    width: 270px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.banner-text button:hover{
    background-color: #f5f8f7;
    transform: scale(1.05);
    color: black;
    border: 1px solid #006A50;
}
.banner-img img{
    height: 400px;
    width: 450px;
    margin-top: 60px;
    margin-left: 3px;
    margin-right: 50px;
}
/* pillars section style  */
.pillars{
    width: 1280px;
    height: 300px;
    margin: 0 auto;
    /* background-color: red; */
    margin-top: 120px;
}
.pillars h2{
    font-size: 45px;
    font-weight: bold;
    margin-top: 3px;
    /* background-color: aqua; */
   
}
.pillars-card-containers{
    display: flex;
    margin: 0;
}
.pillars-card{
    width: 300px;
    height: 220px;
    background-color: #FFFFFF;
    margin: 20px;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 25px;
    border: 0 solid black;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.pillars-card:hover{
    transform: translateY(-10px);
    box-shadow: 6px 6px 15px 6px rgba(0, 0, 0, 0.3);
}

.pillars-card h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
.pillars-card img{
    margin-top: 20px;
}

/* vision section style  */
.vision{
    width: 1280px;
    height: 450px;
    margin: 0 auto;
    margin-top: 120px;
}

.vision-text h1{
    font-size: 50px;
    font-weight: bold;
}
.vision-card-container{
    display: flex;
    margin: 0;
    /* background-color: red; */
}

.vision-card{
    width: 410px;
    height: 325px;
    background-color: white;
    margin: 10px;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 40px;
}
.vision-card h2{
    font-weight: bold;
    font-size: 25px;
}

.vision-card p{
    font-size: 16px;
    margin-bottom: 60px;
}
.vision-card button{
    width: 122px;
    height: 41px;
    border: none;
    border-radius: 8px;
}

#card1{
    background-color:rgba(84, 144, 245, 0.1);
    border-radius: 16px;
}
#btn1{
    background-color: #5490F5;
    color: white; 
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn1:hover{
    background-color: #f5f8f7;
    transform: scale(1.05);
    color: black;
    border: 1px solid #5490F5;
}

#card2{
    background-color: #C6E4D6;
    border-radius: 16px;
}

#btn2{
    background-color: #09A15C;
    color: white; 
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#btn2:hover{
    background-color: #f5f8f7;
    transform: scale(1.05);
    color: black;
    border: 1px solid #09A15C;
}

#card3{
    background-color: #F7EBCF;
    border-radius: 16px;
}

#btn3{
    background-color: #FFC239;
    color: white; 
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#btn3:hover{
    background-color: #f5f8f7;
    transform: scale(1.05);
    color: black;
    border: 1px solid #FFC239;
}

/* younus section styles  */

.yunus{
    width: 1260px;
    height: 260px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.yunus-content{
    background-image: url("../images/pic/quote-bg.png");
    background-repeat: no-repeat;
    padding-left: 20px;


}
.yunus p{
     text-align: justify;
     font-size: 20px;
     padding: 20px;
}

.yunus-content h2{
    padding-left: 20px;
    font-size: 30px;
}

.yunus h5{
    padding-left: 20px;
    font-weight:200;
    margin-top: 5px;
}

/* opinion section styles  */
.opinion{
    width:1280px;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
   
}

.opinion h1{
    font-size: 45px;
    font-weight: bold;
}

.opinion table{
    width: 1190px;
    margin: 20px;
    border-collapse: collapse;
    font-size: 25px;
    text-align: left;
    
}
.opinion-table{
    background-color: white;
    padding: 30px;
    border-radius:16px ;
}
.opinion table th , td{
    border: 1px solid rgba(8, 8, 8, 0.228);
    padding: 10px;
}

thead{
    background-color:#C6E4D6 ;
}
.opinion select{
    background-color: #C6E4D6;
    border-radius: 4px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
}

.opinion-section{
    text-align: center;
}

/* news section styles */
.news{
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    margin-top: 220px;
}
.news h1{
    font-weight: bold;
    font-size: 50px;
}

.news1{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
}

.news1-img-sat{
    width: 400px;
    height: 300px;
    border-radius: 25px;
}

.news1-content h2{
       font-weight: bold;
       font-size: 32px;
}
.news1-time{
    display: flex;
    gap: 20px;
    font-weight: 200;
    font-size: 18px;
    color: rgb(130, 130, 130);
}

.news1 p{
    color:rgb(130, 130, 130) ;
    font-size: 18px;
}

.news1-content button{ 
    border: none;
    width: 122px;
    height: 41px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: white; 
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.news1-content button:hover{
    background-color: #f5f8f7;
    transform: scale(1.05);
    color: black;
    border: 1px solid #006A50;
}


/* donate section styles  */
.donate{
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    margin-top: 380px;
    text-align: center;
    padding: 50px;
}

.donate-card-container{
    display: flex;
    text-align: center;
    justify-content: center;
   
}

.donate-text{
    padding:10px;
    /* background-color: white; */
    padding-bottom: 0;
}
.donate-text h2{
    font-weight: bold;
    font-size: 45px;
    margin-bottom:2px;
}
.donate-card{
   width: 240px;
   height: 108px;
   border-radius: 16px;
   text-align: center;
   /* margin: 0 auto; */
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: white;
   font-weight: bolder;
   font-size: 40px;
   margin-left: 25px;
   display: flex;
   justify-content: center; 
   align-items: center;
   transition: background-color 0.3s ease, transform 0.3s ease;
}
.donate-card:hover{
    background-color: #C6E4D6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05)
}
.donate input{
    margin-top: 40px;
    background-color: white;
    width: 1032px;
    height:65px ;
    border: 2px solid #ccc;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 40px;
}
.donate input::placeholder{
    text-align: center;
    font-size: 20px;
}

.donate input:hover{
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05)
   
}

.donate input:focus {
    outline: none; 
    border-color: #006A50; 
    transform: scale(1.05);
}

.donate button{
    border: none;
    width: 150px;
    height: 75px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: white; 
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.donate button:hover{
    background-color: #eef3f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    color: black;
}
    